.input {
  outline: none;
  border: none;
  width: 25rem;
  background-color: transparent;
}

.searchContainer {
  padding: 0.75rem;
  background-color: transparent;
  display: inline-flex;
  border: 1px solid var(--secondary);
  margin: 0 0 0.5rem 1rem;
  width: 25rem; /* Input width is same as card */
}

.input {
  outline: none;
  border: none;
  width: 25rem;
  background-color: transparent;
}
